.container {
  display: flex;
  flex-direction: column;
  img {
    width: 100%;
    height: 100%;
  }
  cursor: pointer;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px 0px;
}
