.container {
  display: flex;
  flex-direction: column;
  label {
    margin: 8px 0px;
  }
  input {
    max-width: 500px;
  }
  button {
    width: fit-content;
    margin-top: 16px;
  }
}

.options {
}
